<header class="site-header">
  <div class="wrapper">
    <div class="flex items-center justify-center">
      <a href="https://www.linkedin.com/in/xuwupeng2000/" >
        <i class="fa fa-3 fa-sub fa-linkedin space-required"></i>
      </a>
      <a href="http://github.com/xuwupeng2000">
        <i class="fa fa-3 fa-sub fa-github space-required"></i>
      </a>
      <a href="mailto:jwu4000@outlook.com">
        <i class="fa fa-3 fa-sub fa-envelope space-required"></i>
      </a>
    </div>
  </div>
</header>
