<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="jackwu,jackvo,jack,jack wu's resume,wu resume">
  <meta name="description" content="Jack Wu's online resume">
  <meta property="og:title" content="Jack Wu">
  <meta property="og:url" content="http://xuwupeng2000.github.io">
  <meta property="og:image" content="https://avatars3.githubusercontent.com/u/2241982?v=3&s=460">

  <title>Jack Wu | Resume</title>
  <link href="https://assets-cdn.github.com/favicon.ico" type="image/x-icon" rel="icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>


	<title>Flat UI Colors</title>
	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	<link id="favicon" rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="img/apple-touch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-iphone4.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-ipad3.png">
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" data-noprefix="">
