<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="jackwu,jackvo,jack,jack wu's resume,wu resume">
  <meta name="description" content="Jack Wu's online resume">
  <meta property="og:title" content="Jack Wu">
  <meta property="og:url" content="http://xuwupeng2000.github.io">
  <meta property="og:image" content="http://xuwupeng2000.github.io/images/resume.jpg">

  <title>Jack Wu | Resume</title>
  <link href="https://assets-cdn.github.com/favicon.ico" type="image/x-icon" rel="icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
