<header class="site-header">

  <div class="wrapper">
    <div class="row">
      <div class="column column-100">
        <a href="http://www.linkedin.com/pub/peng-wu/49/5b5/7ab" >
          <i class="fa fa-3 fa-sub fa-linkedin space-required"></i>
        </a>
        <a href="http://github.com/xuwupeng2000">
          <i class="fa fa-3 fa-sub fa-github space-required"></i>
        </a>
        <a href="mailto:xuwupeng2000@gmail.com">
          <i class="fa fa-3 fa-sub fa-envelope space-required"></i>
        </a>
      </div>
      <div class="column column-100">
        <a class="site-title" href="{{ site.baseurl }}/">INSPIRED BY MODERNISM</a>
      </div>
    </div>
  </div>

</header>
