<header>
  <div class="container">
    <div class="row">
      <div class="col-fill col">
        <div class="flex justify-center items-center">
          <div class="ph3">
            <a href="https://www.linkedin.com/in/jack-vo-7ab5b549/" class="no-underline" >
              <i class="fa fa-3 fa-linkedin f2 gray no-underline"></i>
            </a>
          </div>
          <div class="ph3">
          <a href="http://github.com/xuwupeng2000">
            <i class="fa fa-3 fa-github f2 gray"></i>
          </a>
          </div>
          <div class="ph3">
          <a href="mailto:xuwupeng2000@gmail.com">
            <i class="fa fa-3 fa-envelope f2 gray"></i>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
