.lead {
  font-size: 16px;
}


hr.featurette-divider {
  margin-top: 36px;
  margin-bottom: 36px
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
}

small, .small {
  font-size: 70%;
  line-height: 2.067;
}


.lead {
  font-size:16px;
}

section {
  padding-top: 36px;
  padding-bottom: 36px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.img-cut {
  margin-top: 24px;
  margin-bottom: 24px;
}

#scau {
  padding-top:10%;
}

#nzx {
  padding-top:10%;
}

#me {
  height: 280px;
  width: 280px;

  background: url("../images/me.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-radius: 150px;
}

.fa-3 {
  font-size: 36px;
}

.fa-sub {
  margin-top: 10px;
  color: #34495e;

  &:hover {
    color: #8e44ad;
  }
}

.space-required {
  padding-left: 10px;
  padding-right: 10px;
}

.skills {
  li {
    margin-left: 36px;
  }

  .fa {
    margin-left: -24px;
  }
}

@media (max-width: 480px) {
  .block {
    margin-left: 15px;
  }
}

#about-me {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.features {
  h5 {
    text-align: right;
    padding-bottom:14px;
    border-bottom: 1px solid #e74c3c;
  }
}

ul {
  list-style: none;
}

.skills {
  ul {
    list-style: none;
  }
}
