@media print {

 .site-header {
   display: none;
 }

 .not-print {
   display: none !important;
 }

 section {
   margin: 0 !important;
   padding: 0 !important;
 }

 .featurette-divider {
   margin: 0 !important;
   padding: 0 !important;
 }

 .feature {
   h5 {
     border: none;
   }
 }

}

@media screen
{
  .only-print {
    display: none !important;
  }
}

