.timeline-container {
  display: flex;
}

#timeline {
  padding: 0;
}

.timeline-left-side {
  .timeline-wrapper {
    text-align: right;
  }
}

.timeline-right-side {
  border-left: 1px solid;
  .timeline-wrapper {
  }
}

.more-margin {
  margin-top: 128px !important;
}

.timeline-series {
  padding: 0 48px;
  border-bottom: 1px dashed; 
}

.timeline-time {
  span {
    padding: 0 48px;
  }
}

.desktop-only {
  @media (max-width: 40rem) {
    display: none !important;
  }
}

.mobile-only {
  @media (min-width: 40rem) {
    display: none !important;
  }
}
